<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 작성</title>
</head>
<body>
    <div class="layout">
    <!--action: 해당form 안의 데이터를어디로보내줄거냐-->
        <form action="/board/writepro" method="post">            <input name="title" type="text"> <!--네임설정-->
            <textarea name="content"></textarea>
            <button type="submit">작성</button>
        <!--버튼을눌렀을때(submit) form안에있는 데이터가 action에서 지정한 주소로 넘어간다-->
        </form>
    </div>
</body>
</html>