<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<body>
<h1>로그인 페이지</h1>
<hr/>

<h2>로그인 유저 : </h2>

<form action="/student/login" method="post" enctype="multipart/form-data">
          이메일: <input type="text" name="email" />
            <br>
          비밀번호: <input type="password" name="password" />
        <button type="submit">로그인</button>
    </form>
    <br>
    <a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=e5d0f2d04f429ca2d3f8a545370fc539&redirect_uri=http://localhost:8080/kakao_login.html">카카오 로그인</a>
    <!-- /oauth2/authorization/{registrationId}에 요청이 들어오면,
    스프링 시큐리티가 provider의 authorization-uri로 요청을 전달한다-->
    <br><br>

    <a href="joinForm.html">회원가입하기</a><br>
</div>

   <!-- <a href="/logout">로그아웃</a> -->
</div>

<br><br>
<a href="/user">유저</a><br>

<br><br>
<a href="/form/loginInfo">Form 로그인 정보</a>
<a href="/oauth/loginInfo">OAuth2 로그인 정보</a>
<a href="/loginInfo">로그인 정보</a>

</body>
</html>